In [2]:
import pandas as pd

In [3]:
Players = pd.read_csv('Data/Players.csv')
Players

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky
...,...,...,...,...,...,...,...,...
3917,3917,Troy Williams,198.0,97.0,South Carolina State University,1969.0,Columbia,South Carolina
3918,3918,Kyle Wiltjer,208.0,108.0,Gonzaga University,1992.0,Portland,Oregon
3919,3919,Stephen Zimmerman,213.0,108.0,"University of Nevada, Las Vegas",1996.0,Hendersonville,Tennessee
3920,3920,Paul Zipser,203.0,97.0,NaN,1994.0,Heidelberg,Germany
3921,3921,Ivica Zubac,216.0,120.0,NaN,1997.0,Mostar,Bosnia and Herzegovina

In [8]:
players = Players.drop(columns= ['Unnamed: 0'], axis=1)
players

,Player,height,weight,collage,born,birth_city,birth_state
0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky
...,...,...,...,...,...,...,...
3917,Troy Williams,198.0,97.0,South Carolina State University,1969.0,Columbia,South Carolina
3918,Kyle Wiltjer,208.0,108.0,Gonzaga University,1992.0,Portland,Oregon
3919,Stephen Zimmerman,213.0,108.0,"University of Nevada, Las Vegas",1996.0,Hendersonville,Tennessee
3920,Paul Zipser,203.0,97.0,NaN,1994.0,Heidelberg,Germany
3921,Ivica Zubac,216.0,120.0,NaN,1997.0,Mostar,Bosnia and Herzegovina

In [5]:
stats = pd.read_csv('Data/Seasons_stats.csv')
stats

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [9]:
stats = stats.drop(columns= ['Unnamed: 0'], axis=1)
stats

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,0.312,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [10]:
len(stats.Player.unique())

3922

In [12]:
stats.isna().sum()

Year         67
Player       67
Pos          67
Age          75
Tm           67
G            67
GS         6458
MP          553
PER         590
TS%         153
3PAr       5852
FTr         166
ORB%       3899
DRB%       3899
TRB%       3120
AST%       2136
STL%       3899
BLK%       3899
TOV%       5109
USG%       5051
blanl     24691
OWS         106
DWS         106
WS          106
WS/48       590
blank2    24691
OBPM       3894
DBPM       3894
BPM        3894
VORP       3894
FG           67
FGA          67
FG%         166
3P         5764
3PA        5764
3P%        9275
2P           67
2PA          67
2P%         195
eFG%        166
FT           67
FTA          67
FT%         925
ORB        3894
DRB        3894
TRB         379
AST          67
STL        3894
BLK        3894
TOV        5046
PF           67
PTS          67
dtype: int64

In [24]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24691 entries, 0 to 24690
Data columns (total 52 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    24624 non-null  float64
 1   Player  24624 non-null  object
 2   Pos     24624 non-null  object
 3   Age     24616 non-null  float64
 4   Tm      24624 non-null  object
 5   G       24624 non-null  float64
 6   GS      18233 non-null  float64
 7   MP      24138 non-null  float64
 8   PER     24101 non-null  float64
 9   TS%     24538 non-null  float64
 10  3PAr    18839 non-null  float64
 11  FTr     24525 non-null  float64
 12  ORB%    20792 non-null  float64
 13  DRB%    20792 non-null  float64
 14  TRB%    21571 non-null  float64
 15  AST%    22555 non-null  float64
 16  STL%    20792 non-null  float64
 17  BLK%    20792 non-null  float64
 18  TOV%    19582 non-null  float64
 19  USG%    19640 non-null  float64
 20  blanl   0 non-null      float64
 21  OWS     24585 non-null  float64
 22  DWS     24585 non-null  float64
 23  WS      24585 non-null  float64
 24  WS/48   24101 non-null  float64
 25  blank2  0 non-null      float64
 26  OBPM    20797 non-null  float64
 27  DBPM    20797 non-null  float64
 28  BPM     20797 non-null  float64
 29  VORP    20797 non-null  float64
 30  FG      24624 non-null  float64
 31  FGA     24624 non-null  float64
 32  FG%     24525 non-null  float64
 33  3P      18927 non-null  float64
 34  3PA     18927 non-null  float64
 35  3P%     15416 non-null  float64
 36  2P      24624 non-null  float64
 37  2PA     24624 non-null  float64
 38  2P%     24496 non-null  float64
 39  eFG%    24525 non-null  float64
 40  FT      24624 non-null  float64
 41  FTA     24624 non-null  float64
 42  FT%     23766 non-null  float64
 43  ORB     20797 non-null  float64
 44  DRB     20797 non-null  float64
 45  TRB     24312 non-null  float64
 46  AST     24624 non-null  float64
 47  STL     20797 non-null  float64
 48  BLK     20797 non-null  float64
 49  TOV     19645 non-null  float64
 50  PF      24624 non-null  float64
 51  PTS     24624 non-null  float64
dtypes: float64(49), object(3)
memory usage: 9.8+ MB

In [25]:
stats.loc[stats['Year'] == 1984]

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
7215,1984.0,Kareem Abdul-Jabbar*,C,36.0,LAL,80.0,80.0,2622.0,21.3,0.608,...,0.723,169.0,418.0,587.0,211.0,55.0,143.0,221.0,211.0,1717.0
7216,1984.0,Alvan Adams,C,29.0,PHO,70.0,13.0,1452.0,16.6,0.513,...,0.825,118.0,201.0,319.0,219.0,73.0,31.0,117.0,195.0,670.0
7217,1984.0,Mark Aguirre,SF,24.0,DAL,79.0,79.0,2900.0,23.5,0.572,...,0.749,161.0,308.0,469.0,358.0,80.0,22.0,285.0,246.0,2330.0
7218,1984.0,Danny Ainge,SG,24.0,BOS,71.0,3.0,1154.0,10.4,0.498,...,0.821,29.0,87.0,116.0,162.0,41.0,4.0,70.0,143.0,384.0
7219,1984.0,J.J. Anderson,SF,23.0,UTA,48.0,0.0,311.0,11.6,0.427,...,0.414,38.0,25.0,63.0,22.0,15.0,9.0,20.0,28.0,122.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7553,1984.0,Randy Wittman,SG,24.0,ATL,78.0,1.0,1071.0,9.3,0.517,...,0.609,14.0,57.0,71.0,71.0,17.0,0.0,32.0,82.0,350.0
7554,1984.0,Al Wood,SG,25.0,SEA,81.0,81.0,2236.0,14.9,0.545,...,0.823,94.0,181.0,275.0,166.0,64.0,32.0,126.0,207.0,1160.0
7555,1984.0,Mike Woodson,SG,25.0,KCK,71.0,12.0,1838.0,15.9,0.541,...,0.818,62.0,113.0,175.0,175.0,83.0,28.0,115.0,174.0,1027.0
7556,1984.0,Orlando Woolridge,SF,24.0,CHI,75.0,74.0,2544.0,15.9,0.567,...,0.715,130.0,239.0,369.0,136.0,71.0,60.0,188.0,253.0,1444.0
7557,1984.0,James Worthy*,PF,22.0,LAL,82.0,53.0,2415.0,16.5,0.591,...,0.759,157.0,358.0,515.0,207.0,77.0,70.0,181.0,244.0,1185.0

In [52]:
stats.loc[stats['Player'] == 'Kobe Bryant']

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
12900,1997.0,Kobe Bryant,SG,18.0,LAL,71.0,6.0,1103.0,14.4,0.544,...,0.819,47.0,85.0,132.0,91.0,49.0,23.0,112.0,102.0,539.0
13479,1998.0,Kobe Bryant,SG,19.0,LAL,79.0,1.0,2056.0,18.5,0.548,...,0.794,79.0,163.0,242.0,199.0,74.0,40.0,157.0,180.0,1220.0
14021,1999.0,Kobe Bryant,SG,20.0,LAL,50.0,50.0,1896.0,18.9,0.549,...,0.839,53.0,211.0,264.0,190.0,72.0,50.0,157.0,153.0,996.0
14537,2000.0,Kobe Bryant,SG,21.0,LAL,66.0,62.0,2524.0,21.7,0.546,...,0.821,108.0,308.0,416.0,323.0,106.0,62.0,182.0,220.0,1485.0
15028,2001.0,Kobe Bryant,SG,22.0,LAL,68.0,68.0,2783.0,24.5,0.552,...,0.853,104.0,295.0,399.0,338.0,114.0,43.0,220.0,222.0,1938.0
15578,2002.0,Kobe Bryant,SG,23.0,LAL,80.0,80.0,3063.0,23.2,0.544,...,0.829,112.0,329.0,441.0,438.0,118.0,35.0,223.0,228.0,2019.0
16070,2003.0,Kobe Bryant,SG,24.0,LAL,82.0,82.0,3401.0,26.2,0.550,...,0.843,106.0,458.0,564.0,481.0,181.0,67.0,288.0,218.0,2461.0
16576,2004.0,Kobe Bryant,SG,25.0,LAL,65.0,64.0,2447.0,23.7,0.551,...,0.852,103.0,256.0,359.0,330.0,112.0,28.0,171.0,176.0,1557.0
17159,2005.0,Kobe Bryant,SG,26.0,LAL,66.0,66.0,2689.0,23.3,0.563,...,0.816,95.0,297.0,392.0,398.0,86.0,53.0,270.0,174.0,1819.0
17742,2006.0,Kobe Bryant,SG,27.0,LAL,80.0,80.0,3277.0,28.0,0.559,...,0.850,71.0,354.0,425.0,360.0,147.0,30.0,250.0,233.0,2832.0
18295,2007.0,Kobe Bryant,SG,28.0,LAL,77.0,77.0,3140.0,26.1,0.580,...,0.868,75.0,364.0,439.0,413.0,111.0,36.0,255.0,205.0,2430.0
18825,2008.0,Kobe Bryant,SG,29.0,LAL,82.0,82.0,3192.0,24.2,0.576,...,0.840,94.0,423.0,517.0,441.0,151.0,40.0,257.0,227.0,2323.0
19428,2009.0,Kobe Bryant,SG,30.0,LAL,82.0,82.0,2960.0,24.4,0.561,...,0.856,90.0,339.0,429.0,399.0,120.0,37.0,210.0,189.0,2201.0
20006,2010.0,Kobe Bryant,SG,31.0,LAL,73.0,73.0,2835.0,21.9,0.545,...,0.811,78.0,313.0,391.0,365.0,113.0,20.0,233.0,187.0,1970.0
20600,2011.0,Kobe Bryant,SG,32.0,LAL,82.0,82.0,2779.0,23.9,0.548,...,0.828,83.0,336.0,419.0,388.0,99.0,12.0,243.0,172.0,2078.0
21196,2012.0,Kobe Bryant,SG,33.0,LAL,58.0,58.0,2232.0,21.9,0.527,...,0.845,66.0,247.0,313.0,264.0,69.0,18.0,204.0,105.0,1616.0
21757,2013.0,Kobe Bryant,SG,34.0,LAL,78.0,78.0,3013.0,23.0,0.570,...,0.839,66.0,367.0,433.0,469.0,106.0,25.0,287.0,173.0,2133.0
22348,2014.0,Kobe Bryant,SG,35.0,LAL,6.0,6.0,177.0,10.7,0.505,...,0.857,2.0,24.0,26.0,38.0,7.0,1.0,34.0,9.0,83.0
22944,2015.0,Kobe Bryant,SG,36.0,LAL,35.0,35.0,1207.0,17.6,0.477,...,0.813,26.0,173.0,199.0,197.0,47.0,7.0,128.0,65.0,782.0
23586,2016.0,Kobe Bryant,SF,37.0,LAL,66.0,66.0,1863.0,14.9,0.469,...,0.826,41.0,206.0,247.0,184.0,62.0,13.0,129.0,115.0,1161.0

In [ ]:
def