In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
players  = pd.read_csv("data/Players.csv")

In [3]:
players

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky
...,...,...,...,...,...,...,...,...
3917,3917,Troy Williams,198.0,97.0,South Carolina State University,1969.0,Columbia,South Carolina
3918,3918,Kyle Wiltjer,208.0,108.0,Gonzaga University,1992.0,Portland,Oregon
3919,3919,Stephen Zimmerman,213.0,108.0,"University of Nevada, Las Vegas",1996.0,Hendersonville,Tennessee
3920,3920,Paul Zipser,203.0,97.0,NaN,1994.0,Heidelberg,Germany
3921,3921,Ivica Zubac,216.0,120.0,NaN,1997.0,Mostar,Bosnia and Herzegovina

In [4]:
seasons_stats = pd.read_csv("data/Seasons_Stats.csv")

In [5]:
seasons_stats

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

Taking players out of dataframe that have no name

In [6]:
seasons_stats =seasons_stats[~seasons_stats.Player.isnull()]
players = players[~players.Player.isnull()]
players

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky
...,...,...,...,...,...,...,...,...
3917,3917,Troy Williams,198.0,97.0,South Carolina State University,1969.0,Columbia,South Carolina
3918,3918,Kyle Wiltjer,208.0,108.0,Gonzaga University,1992.0,Portland,Oregon
3919,3919,Stephen Zimmerman,213.0,108.0,"University of Nevada, Las Vegas",1996.0,Hendersonville,Tennessee
3920,3920,Paul Zipser,203.0,97.0,NaN,1994.0,Heidelberg,Germany
3921,3921,Ivica Zubac,216.0,120.0,NaN,1997.0,Mostar,Bosnia and Herzegovina

Renaming 'Unnamed' column to id

In [7]:
players = players.rename(columns = {'Unnamed: 0':'id'})

In [8]:
player_data = pd.read_csv('data/player_data.csv')
player_data

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University
...,...,...,...,...,...,...,...,...
4545,Ante Zizic,2018,2018,F-C,6-11,250.0,"January 4, 1997",NaN
4546,Jim Zoet,1983,1983,C,7-1,240.0,"December 20, 1953",Kent State University
4547,Bill Zopf,1971,1971,G,6-1,170.0,"June 7, 1948",Duquesne University
4548,Ivica Zubac,2017,2018,C,7-1,265.0,"March 18, 1997",NaN
4549,Matt Zunic,1949,1949,G-F,6-3,195.0,"December 19, 1919",George Washington University

Duplicates of names and how many times they have been duplicated

In [9]:
num_players = player_data.groupby('name').count()
num_players =  num_players.iloc[:,:1]
num_players = num_players.reset_index()
num_players.columns = ['Player', 'count']
num_players[num_players['count'] > 1].head()

               Player  count
314      Bill Bradley      2
420         Bob Duffy      2
494       Bobby Jones      2
505      Bobby Wilson      2
680  Cedric Henderson      2

Drop the 'blan1' and 'blank2' columns

In [10]:
seasons_stats = seasons_stats.iloc[:,1:]
seasons_stats = seasons_stats.drop(['blanl', 'blank2'], axis=1)

Creating a 'id' column for each player

In [11]:
player_data['id'] = player_data.index
player_data.head()

,name,year_start,year_end,position,height,weight,birth_date,college,id
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University,0
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University,1
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles",2
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University,3
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University,4

Seeing if year is correct for players birthday. The birth year is one year extra so we will have to subtract a year from every row

In [12]:
mj_stats = seasons_stats[seasons_stats.Player == 'Michael Jordan*']
mj_stats['Year'].iloc[0] - mj_stats['Age'].iloc[0]

1964.0

True year born by subtracting a year from each row

In [13]:
seasons_stats['born'] = seasons_stats['Year'] - seasons_stats['Age'] - 1

Dropping rows where 'Player' and 'born' are null

In [14]:
players = players[~players.born.isnull()]
players

,id,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky
...,...,...,...,...,...,...,...,...
3917,3917,Troy Williams,198.0,97.0,South Carolina State University,1969.0,Columbia,South Carolina
3918,3918,Kyle Wiltjer,208.0,108.0,Gonzaga University,1992.0,Portland,Oregon
3919,3919,Stephen Zimmerman,213.0,108.0,"University of Nevada, Las Vegas",1996.0,Hendersonville,Tennessee
3920,3920,Paul Zipser,203.0,97.0,NaN,1994.0,Heidelberg,Germany
3921,3921,Ivica Zubac,216.0,120.0,NaN,1997.0,Mostar,Bosnia and Herzegovina

New dataframe wher where player name and year born are the only columns

In [15]:
players_born = players[['Player', 'born']]
players_born

                 Player    born
0       Curly Armstrong  1918.0
1          Cliff Barker  1921.0
2         Leo Barnhorst  1924.0
3            Ed Bartels  1925.0
4           Ralph Beard  1927.0
...                 ...     ...
3917      Troy Williams  1969.0
3918       Kyle Wiltjer  1992.0
3919  Stephen Zimmerman  1996.0
3920        Paul Zipser  1994.0
3921        Ivica Zubac  1997.0

[3921 rows x 2 columns]

Dropping columns where birth date is null

In [16]:
player_data = player_data[~player_data.birth_date.isnull()]
player_data

,name,year_start,year_end,position,height,weight,birth_date,college,id
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University,0
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University,1
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles",2
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University,3
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University,4
...,...,...,...,...,...,...,...,...,...
4545,Ante Zizic,2018,2018,F-C,6-11,250.0,"January 4, 1997",NaN,4545
4546,Jim Zoet,1983,1983,C,7-1,240.0,"December 20, 1953",Kent State University,4546
4547,Bill Zopf,1971,1971,G,6-1,170.0,"June 7, 1948",Duquesne University,4547
4548,Ivica Zubac,2017,2018,C,7-1,265.0,"March 18, 1997",NaN,4548
4549,Matt Zunic,1949,1949,G-F,6-3,195.0,"December 19, 1919",George Washington University,4549

Dont know we need it tho

In [ ]:
for i, row in player_data.iterrows():
    player_data.loc[i, 'born'] = float(row['birth_date'].split(',')[1])

/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

New dataframe with player name and year born

In [ ]:
player_data_born = player_data[['name', 'born']]
player_data_born.columns = ['Player', 'born']

Combining players_born and player_data_born dataframes into a 'born' dataframe

In [ ]:
born = pd.concat([players_born, player_data_born])

Dropping any duplicates in this 'born' dataframe

In [ ]:
born = born.drop_duplicates()

New 'id' column in the born dataframe

In [ ]:
born['id'] = born.index
born

Checking some players in the data frame to make sure they have an id and birth year is correct

In [ ]:
born[born.Player == 'Magic Johnson*']

In [ ]:
born[born.Player == 'Michael Jordan*']

In [ ]:
born[born.Player == 'Allen Iverson*']

In [ ]:
born[born.Player == 'Larry Bird*']

In [ ]:
born[born.Player == 'Hakeem Olajuwon*']

MJ's season stats averages for 1985

In [ ]:
seasons_stats[seasons_stats.Player == 'Michael Jordan*'].head(1)

Magic and Hakeem's birth years were incorrect, so we fixed them

In [ ]:
id_magic = born[born.Player == 'Magic Johnson*'].id.values[0]
id_hakeem = born[born.Player == 'Hakeem Olajuwon*'].id.values[0]
born.loc[id_magic, 'born'] = 1959
born.loc[id_hakeem, 'born'] = 1962

Merging seasons_stats and born dataframes into a 'data' dataframe

In [ ]:
data = seasons_stats.merge(born, on=['Player', 'born'])
data

In [ ]:
data['TOT']

Only players that do not have TOT under Tm column

In [ ]:
data = data[data.Tm != 'TOT']
data

Dropping duplicates in 'data_season' column, and grouping  IDK

In [ ]:
data_season =  data[['id', 'Player', 'Year']].drop_duplicates()
data_season['season']  = data_season.groupby(['id', 'Player']).cumcount() + 1

Merging 'data' dataframe and data_season dataframe on the columns id, Player, and Year

In [ ]:
data = data.merge(data_season, on=['id', 'Player', 'Year'])

Top 20 all time scorers in the 'data' dataframe

In [ ]:
all_time_scorers = data[['Player', 'PTS', 'id']].groupby(['id', 'Player']).sum()
all_time_scorers = all_time_scorers.reset_index()
all_time_scorers.columns = ['id', 'Player', 'PTS']
all_time_scorers = all_time_scorers.sort_values(by='PTS', ascending=False).head(20)
all_time_scorers

In [ ]:
plt.figure(figsize=(12,6))
g = sns.barplot(all_time_scorers.Player, all_time_scorers.PTS)
g.set_xticklabels(labels = all_time_scorers.Player,  rotation=90)
plt.title('All Time Best Scorers')
plt.show()

7 best all time scorers

In [ ]:
list_all_time_scorer_7 = all_time_scorers.head(7)['id'].tolist()
all_time_scorer_7 = data[data.id.isin(list_all_time_scorer_7)]

Total points column

In [ ]:
all_time_scorer_7['Total_PTS'] = all_time_scorer_7[['PTS','id']].groupby('id').cumsum()

In [ ]:
Plot of the best 7 scorers

In [ ]:
plt.figure(figsize=(20,10))
sns.lineplot(x="season", y="Total_PTS", hue="Player", data=all_time_scorer_7)
plt.title('The 7 best All Time scorers evolutions')
plt.show()

In [ ]:
total_kareem = all_time_scorers.iloc[0]['PTS']
lebron = all_time_scorer_7[all_time_scorer_7.Player == 'LeBron James']

In [ ]:
from sklearn.linear_model import LinearRegression

X = lebron['season'].values.reshape(-1, 1)
y = lebron['Total_PTS'].values

reg = LinearRegression().fit(X, y)

In [ ]:
lebron_seasons = lebron.loc[lebron['season'].idxmax()]['season']

In [ ]:
X_test = np.array(range(lebron_seasons+1, lebron_seasons+8)).reshape(-1, 1)
y_pred = reg.predict(X_test)
print(y_pred)
print(y_pred > total_kareem)

In [ ]:
print("LeBron wil pass Kareem Abdul-Jabbar in %sth season" % X_test[np.where(y_pred > total_kareem)][0][0])

In [ ]:
data['PPG'] = data['PTS'] / data['G']
min_players = data[data.MP > 800]

In [ ]:
ppg_players = min_players[['Player', 'PPG', 'id']].groupby(['id', 'Player']).mean()
ppg_players = ppg_players.reset_index()
ppg_players = ppg_players.iloc[:,1:]
ppg_players.columns = ['Player', 'PPG']
ppg_players = ppg_players.dropna()
ppg_players = ppg_players.sort_values(by='PPG', ascending=False).head(20)
ppg_players

In [ ]:
plt.figure(figsize=(12,6))
g = sns.barplot(ppg_players.Player, ppg_players.PPG)
g.set_xticklabels(labels = ppg_players.Player,  rotation=90)
plt.title('All Time Best Points Per Game in Career')
plt.show()

In [ ]:
age_ppg = min_players.groupby('Age')['PPG'].mean()
age_ppg = age_ppg.reset_index()

In [ ]:
plt.figure(figsize=(12,6))
g = sns.lineplot(x="Age", y='PPG', data=age_ppg)

In [ ]:
print("Players tend to have their peak of points per game at", age_ppg.loc[age_ppg['PPG'].idxmax(), 'Age'])

In [ ]:
years = min_players.groupby('Year').mean()
years = years.reset_index()

In [ ]:
points = years[['Year', 'PTS']]

In [ ]:
plt.figure(figsize=(15,8))
g = sns.lineplot(x="Year", y='PTS', data=points)
g.axvline(1954, 0,1, linestyle='dashed' ,color='red')
g.axvline(1972, 0,1, linestyle='dashed' ,color='red')
g.axvline(1992, 0,1, linestyle='dashed' ,color='red')
g.axvline(1999, 0,1, linestyle='dashed' ,color='red')
g.axvline(2007, 0,1, linestyle='dashed' ,color='red')
g.axvline(2012, 0,1, linestyle='dashed' ,color='red')
plt.title('Points Evolution')
plt.show()

Differents points to observe :

1954 : The 24-second shot clock is introduced
1972 : No foul shots are attempted, except shooting fouls, until fifth team foul
1992 : Shot clock is reset only when ball hits the rim (previously it was reset if ball hit either the rim or backboard)
1999 : Lock out (50 matchs)
2011 : Lock out (66 matchs)

In [ ]:
points_3 = years[['Year', '3PA']]

In [ ]:
plt.figure(figsize=(15,8))
g = sns.lineplot(x="Year", y='3PA', data=points_3)
g.axvline(1994, 0,1, linestyle='dashed' ,color='red')
g.axvline(1997, 0,1, linestyle='dashed' ,color='red')
plt.title('3 Points Evolution')
plt.show()

Differents points to observe :

1994 : Three shots awarded for foul on 3-point attempt
1997 : 3-point line lengthened to original 23 feet, 9 inches, except in the corners where the distance remained at 22 feet

In [ ]:
data.head()

In [ ]:
data['APG'] = data['AST'] / data['G']
data['RPG'] = data['TRB'] / data['G']
data['SPG'] = data['STL'] / data['G']
data['BPG'] = data['BLK'] / data['G']

In [ ]:
mvp_players = {'Bob Pettit*': [1956, 1959],
                  'Bob Cousy*': [1957],
                  'Bill Russell*': [1958, 1961, 1962, 1963, 1965],
                  'Wilt Chamberlain*': [1960, 1966, 1967, 1968],
                  'Oscar Robertson*': [1964],
                  'Wes Unseld*': [1969],
                  'Willis Reed*': [1970],
                  'Kareem Abdul-Jabbar*': [1971, 1972, 1974, 1976, 1977, 1980],
                  'Dave Cowens*': [1973],
                  'Bob McAdoo*': [1975],
                  'Bill Walton*': [1978],
                  'Moses Malone*': [1979, 1982, 1983],
                  'Julius Erving*': [1981],
                  'Larry Bird*': [1984, 1985, 1986],
                  'Magic Johnson*': [1987, 1989, 1990],
                  'Michael Jordan*': [1988, 1991, 1992, 1996, 1998],
                  'Charles Barkley*': [1993],
                  'Hakeem Olajuwon*': [1994],
                  'David Robinson*': [1995],
                  'Karl Malone*': [1997, 1999],
                  'Shaquille O\'Neal*': [2000],
                  'Allen Iverson*': [2001],
                  'Tim Duncan': [2002, 2003],
                  'Kevin Garnett': [2004],
                  'Steve Nash': [2005, 2006],
                  'Dirk Nowitzki': [2007],
                  'Kobe Bryant': [2008],
                  'LeBron James': [2009, 2010, 2012, 2013],
                  'Derrick Rose': [2011],
                  'Kevin Durant': [2014],
                  'Stephen Curry': [2015, 2016],
                  'Russell Westbrook': [2017],
                  'James Harden': [2018]}

In [ ]:
data['MVP'] = 0
for i, row in data.iterrows():  
    for k, v in mvp_players.items():
        for year in v:
            if row['Player'] != k:
                break
            elif(row['Year'] == year) & (row['Player'] == k):
                data.loc[i, 'MVP'] = 1
                break

In [ ]:
teams_champions = {'BOS': [1957, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1968, 1969, 1974, 1976, 1981, 1984, 1986, 2008],
                  'LAL': [1972, 1980, 1982, 1985, 1987, 1988, 2000, 2001, 2002, 2009, 2010],
                  'MNL': [1949, 1950, 1952, 1953, 1954],
                  'CHI': [1991, 1992, 1993, 1996, 1997, 1998],
                  'GSW': [1975, 2015, 2017, 2018],
                  'PHW': [1947, 1956],
                  'SAS': [1999, 2003, 2005, 2007, 2014],
                  'DET': [1989, 1990, 2004],
                  'MIA': [2006, 2012, 2013],
                  'PHI': [1967, 1983],
                  'SYR': [1955],
                  'HOU': [1994, 1995],
                  'NYK': [1970, 1973],
                  'STL': [1958],
                  'BLB': [1948],
                  'CLE': [2016],
                  'DAL': [2011],
                  'MIL': [1971],
                  'SEA': [1979],
                  'POR': [1977],
                  'ROC': [1951],
                  'WSB': [1978]}

In [ ]:
data['Champion'] = 0
for i, row in data.iterrows():  
    for k, v in teams_champions.items():
        for year in v:
            if row['Tm'] != k:
                break
            elif(row['Year'] == year) & (row['Tm'] == k):
                data.loc[i, 'Champion'] = 1
                break

In [ ]:
hall_of_fame = data[data.MP > 800]

In [ ]:
list_famers = []
for i, row in hall_of_fame.iterrows():
    if '*' in row['Player']:
        list_famers.append(row['Player'])
list_famers = list(set(list_famers))

In [ ]:
def is_hof(x):
    if '*' in x:
        return 1
    else:
        return 0

In [ ]:
hall_of_fame['HOF'] = hall_of_fame['Player'].apply(is_hof)

In [ ]:
hall_of_fame = hall_of_fame[hall_of_fame.Year >= 1974]

In [ ]:
mvps = data[['id', 'Player', 'MVP']]
mvps['Nb_MVP'] = mvps.groupby('id').cumsum()
mvps = mvps.groupby(['id', 'Player'], sort=False)['Nb_MVP'].max().reset_index()
mvps.sort_values(by='Nb_MVP', ascending=False).head(10)

In [ ]:
champions = data[['id', 'Player', 'Champion']]
champions['Total_Champion'] = champions.groupby('id').cumsum()
champions = champions.groupby(['id', 'Player'], sort=False)['Total_Champion'].max().reset_index()
champions.sort_values(by='Total_Champion', ascending=False).head(10)

In [ ]:
nb_seasons = data_season[['id', 'Player', 'season']]
nb_seasons = nb_seasons.groupby(['id', 'Player'], sort=False)['season'].max().reset_index()
nb_seasons.sort_values(by='season', ascending=False).head(10)

In [ ]:
last_season = hall_of_fame[['id', 'Player', 'Year']]
last_season = last_season.groupby(['id', 'Player'], sort=False)['Year'].max().reset_index()
last_season.columns = ['id', 'Player', 'Last_Season']

In [ ]:
total_points = data[['Player', 'PTS', 'id']].groupby(['id', 'Player']).sum()
total_points = total_points.reset_index()
total_points.columns = ['id', 'Player', 'Total_PTS']

In [ ]:
career = hall_of_fame.groupby(['id', 'Player']).mean()
career = career.reset_index()
career.head()

In [ ]:
career.columns

In [ ]:
career_num = career[['id', 'Player', 'PER', 'TS%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'FG%', '3P%', '2P%', 'eFG%', 'FT%', 'PPG', 'APG', 'RPG', 'SPG', 'BPG', 'HOF']]

In [ ]:
career_num = career_num.merge(mvps, on=['id', 'Player'])
career_num = career_num.merge(champions, on=['id', 'Player'])
career_num = career_num.merge(nb_seasons, on=['id', 'Player'])
career_num = career_num.merge(last_season, on=['id', 'Player'])
career_num = career_num.merge(total_points, on=['id', 'Player'])

In [ ]:
career_num[career_num.HOF ==1]['season'].describe()

In [ ]:
career_num = career_num[career_num.season >= 8]

In [ ]:
career_num = career_num.fillna(0)

In [ ]:
career_num = career_num.drop(['Player'], axis=1)

In [ ]:
plt.figure(figsize=(12,8))
sns.heatmap(career_num.corr(), cmap=sns.diverging_palette(220, 10, as_cmap=True))

In [ ]:
career_num.corr()['HOF'].sort_values(ascending=False)

In [ ]:
train = career_num[(career_num.Last_Season <= 1997) | (career_num.HOF == 1)]
test = career_num[(career_num.Last_Season > 1997) & (career_num.HOF == 0)]

In [ ]:
from sklearn.ensemble import RandomForestClassifier

X_train = train.drop('HOF', axis=1)
y_train = train['HOF']
X_test = test.drop('HOF', axis=1)

In [ ]:
random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, y_train)
y_pred = random_forest.predict(X_test)
random_forest.score(X_train, y_train)
acc_random_forest = round(random_forest.score(X_train, y_train) * 100, 2)
acc_random_forest

In [ ]:
pred_proba = random_forest.predict_proba(X_test)
pred_proba

In [ ]:
y_pred_proba = []
for i in enumerate(pred_proba):
    y_pred_proba.append(i[1][1])
y_pred_proba = np.asarray(y_pred_proba)

In [ ]:
results_hof = pd.DataFrame({
    "id": test["id"],
    "HOF": y_pred_proba
    })

In [ ]:
career_player = career[['id', 'Player']]
results_hof = career_player.merge(results_hof, on='id')

In [ ]:
results_hof = results_hof.sort_values(by='HOF', ascending=False)
results_hof = results_hof.head(20)
results_hof

In [ ]:
plt.figure(figsize=(12,6))
g = sns.barplot(results_hof.Player, results_hof.HOF)
g.set_xticklabels(labels = results_hof.Player,  rotation=90)
plt.title('Players with Best Chances to be in the Hall of Fame')
plt.show()